<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>plant</title>
</head>
<body>
<form action="" method="post">
    <div>
        <ul>
            <li>
                <tr>
                   <td>叶具齿</td>
                    <td><input type="checkbox" name="leaf_name" value="叶具齿"></td>
                </tr>
            </li>
            <li>
                 <tr>
                   <td>叶有毛</td>
                    <td><input type="checkbox" name="leaf_name" value="叶有毛"></td>
                </tr>
            </li>
            <li>
                 <tr>
                   <td>叶无毛</td>
                    <td><input type="checkbox" name="leaf_name" value="叶无毛"></td>
                </tr>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li> <tr>
                   <td>花单生</td>
                    <td><input type="checkbox" name="flower_name" value="花单生"></td>
                </tr>
            </li>
            <li>
                 <tr>
                   <td>总状花序</td>
                    <td><input type="checkbox" name="flower_name" value="总状花序"></td>
                </tr>
            </li>
        </ul>
    </div>
    <div>
        <input type="submit" value="筛选">
    </div>
</form>
</body>
</html>