<!DOCTYPE html>
<html>
<head>
    <style>

        .quarter-div {
            float: left;
            width: 49%;
            border: 3px solid red;
            height: 500px;
        }

    </style>
</head>

<body>

<div id="div_character" class="quarter-div">
    <table>
        <tr>
            <form>
                <button type="submit">检索</button>
                <button type="submit">性状添加</button>
                <button type="submit">物种编辑</button>
            </form>
        </tr>
    </table>
    <div>
        <form></form>
    </div>

</div>

<div id="div_plant_pic" class="quarter-div">
    fasdfaafa
</div>

<div id="div_result" class="quarter-div">
    fasdfa
</div>

<div id="div_retrieval" class="quarter-div">
    dffdfadsj
</div>


</body>
</html>